body.penci-body-boxed {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.penci-enable-boxed {
	background: #fff;
	max-width: 1400px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

	.penci-topbar .topbar-width-default,
	.penci-topbar .penci-container-fullwidth {
		padding-left: 15px;
		padding-right: 15px;
	}

	.site-header{
		max-width: 1400px;
	}
}