h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1.3;
	font-family: $font__muktavaani;
	font-style: normal;
	font-weight: 600;
}

h1{
	@include font-size( 3.2 );
}

h2{
	@include font-size( 2.8 );
}

h3{
	@include font-size( 2.4 );
}

h4{
	@include font-size( 2.0 );
}

h5{
	@include font-size( 1.8 );
}

h6{
	@include font-size( 1.6 );
}