.vc_add-element-container .vc_element-icon {
	left: auto;
	right: 8px;
}
.vc_add-element-container .wpb-content-layouts a {
	padding-right: 74px;
	padding-left: 4px;
}
.vc_ui-panel-header .vc_ui-panel-header-controls {
	float: left;
	margin-left: 0;
	margin-right: 12px;
}
.vc_ui-panel-header .vc_ui-panel-header-heading {
	margin-left: 1em;
	margin-right: 0;
}

.vc_add-element-container .wpb-content-layouts #penci_block_1,
.vc_add-element-container .wpb-content-layouts #penci_block_2,
.vc_add-element-container .wpb-content-layouts #penci_block_3,
.vc_add-element-container .wpb-content-layouts #penci_block_4,
.vc_add-element-container .wpb-content-layouts #penci_block_5,
.vc_add-element-container .wpb-content-layouts #penci_block_6,
.vc_add-element-container .wpb-content-layouts #penci_block_7,
.vc_add-element-container .wpb-content-layouts #penci_block_8,
.vc_add-element-container .wpb-content-layouts #penci_block_9,
.vc_add-element-container .wpb-content-layouts #penci_block_10,
.vc_add-element-container .wpb-content-layouts #penci_block_11,
.vc_add-element-container .wpb-content-layouts #penci_block_12,
.vc_add-element-container .wpb-content-layouts #penci_block_13,
.vc_add-element-container .wpb-content-layouts #penci_block_14,
.vc_add-element-container .wpb-content-layouts #penci_block_15,
.vc_add-element-container .wpb-content-layouts #penci_block_16,
.vc_add-element-container .wpb-content-layouts #penci_block_17,
.vc_add-element-container .wpb-content-layouts #penci_block_18,
.vc_add-element-container .wpb-content-layouts #penci_block_19,
.vc_add-element-container .wpb-content-layouts #penci_block_20,
.vc_add-element-container .wpb-content-layouts #penci_block_21,
.vc_add-element-container .wpb-content-layouts #penci_block_22,
.vc_add-element-container .wpb-content-layouts #penci_block_23,
.vc_add-element-container .wpb-content-layouts #penci_block_24,
.vc_add-element-container .wpb-content-layouts #penci_block_25,
.vc_add-element-container .wpb-content-layouts #penci_block_26,
.vc_add-element-container .wpb-content-layouts #penci_block_27,
.vc_add-element-container .wpb-content-layouts #penci_block_28,
.vc_add-element-container .wpb-content-layouts #penci_block_29,
.vc_add-element-container .wpb-content-layouts #penci_block_30,
.vc_add-element-container .wpb-content-layouts #penci_block_31,
.vc_add-element-container .wpb-content-layouts #penci_block_32,
.vc_add-element-container .wpb-content-layouts #penci_block_33,
.vc_add-element-container .wpb-content-layouts #penci_block_34,
.vc_add-element-container .wpb-content-layouts #penci_block_35,
.vc_add-element-container .wpb-content-layouts #penci_block_36,
.vc_add-element-container .wpb-content-layouts #penci_block_37,
.vc_add-element-container .wpb-content-layouts #penci_block_38,
.vc_add-element-container .wpb-content-layouts #penci_grid_1,
.vc_add-element-container .wpb-content-layouts #penci_grid_2,
.vc_add-element-container .wpb-content-layouts #penci_grid_3,
.vc_add-element-container .wpb-content-layouts #penci_grid_4,
.vc_add-element-container .wpb-content-layouts #penci_grid_5,
.vc_add-element-container .wpb-content-layouts #penci_grid_6,
.vc_add-element-container .wpb-content-layouts #penci_grid_7,
.vc_add-element-container .wpb-content-layouts #penci_grid_8,
.vc_add-element-container .wpb-content-layouts #penci_grid_9,
.vc_add-element-container .wpb-content-layouts #penci_grid_10,
.vc_add-element-container .wpb-content-layouts #penci_grid_11,
.vc_add-element-container .wpb-content-layouts #penci_grid_12,
.vc_add-element-container .wpb-content-layouts #penci_grid_13,
.vc_add-element-container .wpb-content-layouts #penci_grid_14,
.vc_add-element-container .wpb-content-layouts #penci_grid_15,
.vc_add-element-container .wpb-content-layouts #penci_sliders,
.vc_add-element-container .wpb-content-layouts #penci_news_ticker,
.vc_add-element-container .wpb-content-layouts #penci_container,
.vc_add-element-container .wpb-content-layouts #penci_container_inner,
.vc_add-element-container .wpb-content-layouts #penci_social_counter,
.vc_add-element-container .wpb-content-layouts #penci_ad_box,
.vc_add-element-container .wpb-content-layouts #penci_mailchimp,
.vc_add-element-container .wpb-content-layouts #penci_videos_playlist,
.vc_add-element-container .wpb-content-layouts #penci_image_gallery,
.vc_add-element-container .wpb-content-layouts #portfolio,
.vc_add-element-container .wpb-content-layouts #penci_weather,
.vc_add-element-container .wpb-content-layouts #penci_popular_category,
.vc_add-element-container .wpb-content-layouts #penci_custom_slider,

.vc_add-element-container .wpb-content-layouts #penci_facebook_page,
.vc_add-element-container .wpb-content-layouts #penci_latest_tweets,
.vc_add-element-container .wpb-content-layouts #penci_pinterest,
.vc_add-element-container .wpb-content-layouts #penci_about_us,
.vc_add-element-container .wpb-content-layouts #penci_authors_box,
.vc_add-element-container .wpb-content-layouts #penci_image_box,

.vc_add-element-container .wpb-content-layouts #penci_authors_box_2,
.vc_add-element-container .wpb-content-layouts #penci_team_members,
.vc_add-element-container .wpb-content-layouts #penci_instagram,

.vc_add-element-container .wpb-content-layouts #penci_wp_widget_archives,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_calendar,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_custommenu,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_posts,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_recentcomments,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_search,
.vc_add-element-container .wpb-content-layouts #penci_wp_widget_tagcolud,
.vc_add-element-container .wpb-content-layouts #penci_text_block,
.vc_add-element-container .wpb-content-layouts #penci_login_form,

.vc_add-element-container .wpb-content-layouts #penci_fancy_heading,
.vc_add-element-container .wpb-content-layouts #penci_info_box,
.vc_add-element-container .wpb-content-layouts #penci_advanced_carousel,
.vc_add-element-container .wpb-content-layouts #penci_count_down,
.vc_add-element-container .wpb-content-layouts #penci_map,
.vc_add-element-container .wpb-content-layouts #penci_testimonials,
.vc_add-element-container .wpb-content-layouts #penci_single_video,
.vc_add-element-container .wpb-content-layouts #penci_blog_list,
.vc_add-element-container .wpb-content-layouts #penci_counter_up,
.vc_add-element-container .wpb-content-layouts #penci_opening_hours,
.vc_add-element-container .wpb-content-layouts #penci_pricing_item,
.vc_add-element-container .wpb-content-layouts #penci_progress_bar,
.vc_add-element-container .wpb-content-layouts #penci_testimonails,
.vc_add-element-container .wpb-content-layouts #penci_testimonail,
.vc_add-element-container .wpb-content-layouts #penci_social_media,
.vc_add-element-container .wpb-content-layouts #penci_bos_searchbox,

.vc_add-element-container .wpb-content-layouts #penci_metro_slider_item,
.vc_add-element-container .wpb-content-layouts #penci_metro_slider,


.vc_add-element-container .wpb-content-layouts #penci_block_video {
	padding-left: 0;
	padding-right: 75px;
}

.penci-checkbox {
	float: right;
}

.penci-image-select {
	margin-left: 5px;
	margin-right: 0;
}
.wpb_penci_container .vc_controls .wpb_element_title {
	margin-left: -5px;
	margin-right: 3px;
}
