/* = buddy */
.site-main #buddypress .standard-form textarea {
	border: 1px solid #ececec;
	border-radius: 0;
	color: #999;
	font-size: 100%;
	font-weight: normal;
	padding: 6px;
	background-color: transparent;
}

.site-main #buddypress .standard-form input[type=text], .site-main #buddypress .standard-form input[type=color], .site-main #buddypress .standard-form input[type=date], .site-main #buddypress .standard-form input[type=datetime], .site-main #buddypress .standard-form input[type=datetime-local], .site-main #buddypress .standard-form input[type=email], .site-main #buddypress .standard-form input[type=month], .site-main #buddypress .standard-form input[type=number], .site-main #buddypress .standard-form input[type=range], .site-main #buddypress .standard-form input[type=search], .site-main #buddypress .standard-form input[type=password], .site-main #buddypress .standard-form input[type=tel], .site-main #buddypress .standard-form input[type=time], .site-main #buddypress .standard-form input[type=url], .site-main #buddypress .standard-form input[type=week] {
	border: 1px solid #ececec;
	border-radius: 0;
	color: #999;
	font-size: 100%;
	font-weight: normal;
	padding: 6px;
	width: 100%;
	max-width: 300px;
	background-color: transparent;
}

.site-main #buddypress .standard-form select,
.site-main #buddypress .standard-form input[type=password] {
	border: 1px solid #ececec;
	border-radius: 0;
	color: #999;
	font-size: 100%;
	font-weight: normal;
	padding: 6px;
	background-color: transparent;
}

.site-main #buddypress .dir-search input[type=search], .site-main #buddypress .dir-search input[type=text],
.site-main #buddypress .bp-search input[type=search],
.site-main #buddypress .bp-search input[type=text],
.site-main #buddypress .groups-members-search input[type=search],
.site-main #buddypress .groups-members-search input[type=text] {
	width: 95%;
	height: 40px;
	border: 1px solid #ececec;
	padding: 10px 43px 10px 15px;
	font-weight: normal;
	font-size: 12px;
	font-size: 1.2rem;
	-webkit-appearance: textfield;
	background: transparent;
}

.site-main #buddypress .dir-search input[type=submit],
.site-main #buddypress .bp-search input[type=submit],
.site-main #buddypress .groups-members-search input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #000000;
	border-radius: 0;
	background: #000000;
	color: #ffffff;
	line-height: 36px;
	padding: 2px 15px 0;
	text-align: center;
	transition: all 0.25s;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;
}

.site-main #buddypress .dir-search input[type=submit]:hover,
.site-main #buddypress .bp-search input[type=submit]:hover,
.site-main #buddypress .groups-members-search input[type=submit]:hover {
	border-color: #3f51b5;
	background: #3f51b5;
	color: #ffffff;
}

.site-main #buddypress button,
.site-main #buddypress a.button,
.site-main #buddypress input[type=button],
.site-main #buddypress input[type=reset] {
	border: 0;
	border-radius: 0;
	background: #000000;
	color: #ffffff;
	line-height: 39px;
	padding: 0 15px 0;
	text-align: center;
	transition: all 0.25s;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
}

.site-main #buddypress ul.button-nav li a,
.site-main #buddypress div.generic-button a,
.site-main #buddypress .comment-reply-link {
	border: 1px solid #ececec;
	color: #999;
	font-size: 12px;
	padding: 6px 10px;
}

#buddypress .wp-editor-wrap a.button, #buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset],
#buddypress .wp-editor-wrap input[type=submit] {
	padding: 0 8px 1px;
}

#buddypress .standard-form label,
#buddypress .standard-form legend,
#buddypress .standard-form span.label {
	font-weight: normal;
}

#buddypress .standard-form label input {
	margin-right: 5px;
}

a.bp-title-button {
	border: 1px solid #ececec;
	color: #999;
	font-size: 12px;
	padding: 6px 10px;
}

#buddypress button:hover {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

#buddypress a.button:hover, #buddypress a.button:focus {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

#buddypress input[type=button]:hover, #buddypress input[type=reset]:hover {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover {
	background-color: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

#buddypress input[type=submit] {
	border: 0px;
	padding: 12px 20px;
	background-color: #111111;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
}

#buddypress input[type=submit]:hover {
	color: #fff;
	background-color: #3f51b5;
	border-color: #ececec;
	border: 0px;
}

#buddypress select {
	padding: 3px 25px 3px 10px;
	color: #999;
	background-color: transparent;
	border: 1px solid #ececec;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: all .15s;
	outline: none;
}

#buddypress div.bp-search, #buddypress div.dir-search {
	position: relative;
	float: none;
	width: 100%;
	margin-top: 0;
	padding-bottom: 21px;
	padding-left: 30px;
}

#buddypress div#item-header {
	margin-bottom: 10px;
}

#buddypress div#item-header div#item-actions h3 {
	font-size: 14px;
	color: #999;
}

#buddypress div#item-header img.avatar {
	margin: 0 30px 19px 0;
	width: 150px;
	height: 150px;
}

#buddypress div#item-header div#item-meta {
	font-size: 90%;
	margin: 10px 0 5px 0;
}

#buddypress ul.item-list,
#buddypress .profile[role=main] {
	border-top: 1px solid #ececec;
	padding: 15px;
}

#buddypress ul.item-list li {
	border: none;
	padding: 15px;
	margin-bottom: 10px;
}

#buddypress .activity-list li.mini .activity-avatar img.avatar, #buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: 66px;
	margin-left: 0px;
	width: 66px;
}

#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
	background: transparent !important;
	color: inherit;
	font-size: 100%;
	margin-left: 0;
	padding: 0;
}

#buddypress a.bp-primary-action span:before,
#buddypress #reply-title small a span:before {
	content: "(";
}

#buddypress a.bp-primary-action span:after,
#buddypress #reply-title small a span:after {
	content: ")";
}

/*section*/
.activity-inner {
	color: #444;
}

#buddypress ul.item-list li div.action {
	top: auto;
	background: none;
}

#buddypress ul.item-list li div.item-title span {
	font-size: 90%;
}

#buddypress ul.item-list li div.item-desc, #buddypress ul.item-list li div.meta {
	color: #999;
	font-size: 90%;
}

#buddypress ul.item-list li div.item-title {
	font-weight: normal;
	font-size: 100%;
}

#buddypress ul.item-list li h4 {
	font-weight: normal;
	font-size: 100%;
}

#buddypress ul.item-list li div.item-title a,
#buddypress ul.item-list li h4 a {
	color: #3f51b5;
	font-weight: 600;
}

#buddypress div.pagination {
	padding-bottom: 20px;
}

#buddypress div.pagination .pagination-links {
	margin-right: 0;
}

#buddypress div.pagination .pag-count {
	font-size: 100%;
	margin-left: 0;
	border: solid 1px #ececec;
	padding: 2px 15px;
	color: #999;
	display: inline-block;
	line-height: 1.5;
}

#buddypress div.pagination .pagination-links span {
	margin-left: 0;
	border: solid 1px #ececec;
	padding: 0 7px;
	line-height: 1.7;
	display: inline-block;
	font-size: inherit;
}

#buddypress div.pagination .pagination-links a {
	font-size: 100%;
	margin-left: 0;
	border: solid 1px #ececec;
	padding: 0 7px;
	line-height: 1.7;
	display: inline-block;
	font-size: inherit;
}

#buddypress div.pagination .pagination-links a:hover {
	font-weight: normal;
	background: #eee;
	border-color: #ececec;
	text-decoration: none;
}

#buddypress div.pagination .pagination-links .current {
	font-weight: normal;
	background: #eee;
	border-color: #ececec;
}

#buddypress div.item-list-tabs {
	background: #f5f5f5;
}

#buddypress div.item-list-tabs:not(#subnav) ul li a,
#buddypress div.item-list-tabs:not(#subnav) ul li > span {
	padding: 8px 15px;
	font-size: 14px;
	color: #999;
	border-right: solid 1px #e2e2e2;
	border-bottom: 0;
}

#buddypress div.item-list-tabs:not(#subnav) ul li.selected a,
#buddypress div.item-list-tabs:not(#subnav) ul li.current a,
#buddypress div.item-list-tabs:not(#subnav) ul li a:hover {
	background-color: transparent;
	color: #444;
	opacity: 1;
	font-weight: normal;
}

#buddypress div.item-list-tabs ul li a span {
	background: transparent !important;
	border: none !important;
	color: inherit;
	display: inline;
	vertical-align: top;
	font-size: 100%;
	margin-left: 0;
	padding: 0;
}

#buddypress div.item-list-tabs ul li a span:before {
	content: "(";
}

#buddypress div.item-list-tabs ul li a span:after {
	content: ")";
}

#buddypress #activity-all a:before,
#buddypress #groups-all a:before,
#buddypress #members-all a:before,
#buddypress #activity-friends a:before,
#buddypress #user-friends:before,
#buddypress #members-personal a:before,
#buddypress #activity-groups a:before,
#buddypress #user-groups:before,
#buddypress #groups-personal a:before,
#buddypress #members:before,
#buddypress #activity-favorites a:before,
#buddypress #user-activity:before,
#buddypress #user-xprofile:before,
#buddypress #user-notifications:before,
#buddypress #user-messages:before,
#buddypress .send-message:before,
#buddypress #user-settings:before,
#buddypress #admin:before,
#buddypress .generic-button .friendship-button.add:before,
#buddypress #home:before,
#buddypress #invite:before {
	content: "\f0ac";
	/*globe*/
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}

#buddypress #activity-friends a:before,
#buddypress #user-friends:before,
#buddypress #members-personal a:before {
	content: "\f007";
	/*user*/
}

#buddypress #activity-groups a:before,
#buddypress #user-groups:before,
#buddypress #groups-personal a:before,
#buddypress #members:before {
	content: "\f0c0";
	/*group*/
}

#buddypress #activity-favorites a:before {
	content: "\f005";
	/*star*/
}

#buddypress #user-activity:before {
	content: "\f1d8";
}

#buddypress #user-xprofile:before {
	content: "\f114";
	/*folder*/
}

#buddypress #user-notifications:before {
	content: "\f0a2";
	/*bell*/
}

#buddypress #user-messages:before,
#buddypress .send-message:before {
	content: "\f003";
	/*envelope*/
}

#buddypress #user-settings:before,
#buddypress #admin:before {
	content: "\f013";
	/*cog*/
}

#buddypress #activity-mentions a:before,
#buddypress .activity-button.mention:before {
	font-family: Arial, Helvetica, sans-serif;
	content: "@";
	/*@*/
	font-weight: bold;
	margin-right: 5px;
}

#buddypress #home:before {
	content: "\f015";
	/*home*/
}

#buddypress #invite:before {
	content: "\f046";
	/*check*/
}

#buddypress .generic-button .friendship-button.add:before {
	content: "\f067";
}

#buddypress div.item-list-tabs#subnav {
	margin: 40px 0 10px;
}

#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li > span {
	padding: 8px 15px;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
}

#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a,
#buddypress div.item-list-tabs ul li a:hover {
	background-color: #3f51b5;
	color: #fff;
	opacity: 1;
	font-weight: normal;
}

@media screen and (max-width: 480px) {
	#buddypress div.pagination {
		clear: both;
		float: none;
	}

	#buddypress div.pagination .pag-count {
		clear: both;
		float: none;
	}

	#buddypress div.pagination .pagination-links {
		float: none;
		margin: 10px 0;
		clear: both;
	}
}

/*tabs*/
@media screen and (max-width: 991px) {
	#buddypress div.item-list-tabs:not(#subnav) ul {
		margin-right: -1px;
	}

	#buddypress div.item-list-tabs:not(#subnav) ul li {
		width: 33.33333%;
	}
}

@media screen and (max-width: 767px) {
	#buddypress div.item-list-tabs:not(#subnav) ul li {
		width: 50%;
	}
}

@media screen and (max-width: 360px) {
	#buddypress div.item-list-tabs:not(#subnav) ul li {
		width: 100%;
	}
}

/*activity*/
.activity-greeting {
	color: #999;
}

#buddypress ul.item-list li.activity img.avatar,
#buddypress .activity-list .activity-avatar img {
	width: 66px;
	height: auto;
	max-width: 100%;
}

#buddypress #item-body #subnav + form#whats-new-form {
	margin-top: 30px;
}

#buddypress form#whats-new-form textarea {
	min-height: 45px;
	width: 100%;
	font-size: 1em;
	background-color: transparent;
}

#buddypress #whats-new-options {
	overflow: visible;
	min-height: 55px;
	height: auto !important;
}

#buddypress .activity-update-form {
	border: 0;
	padding: 15px 15px 5px;
}

#buddypress .bp-navs ul li {
	margin: 0;
}

#whats-new-post-in-box {
	color: #999;
}

.site-main #buddypress #activity-stream {
	margin-top: 20px;
	padding-top: 0;
}

.site-main #buddypress .activity-list .activity-content {
	margin: 0 0 0 85px;
}

.site-main #buddypress .activity-header a:first-child,
.site-main #buddypress .comment-meta a:first-child,
.site-main #buddypress .acomment-meta a:first-child {
	color: #3f51b5;
	font-weight: bold;
}

.site-main #buddypress .activity-list .activity-content .activity-header {
	color: #999;
}

.site-main #buddypress .activity-list .activity-content .activity-header img.avatar {
	width: 22px;
	margin: 0 5px 0px 0 !important;
}

.site-main #buddypress .activity-list .activity-content .comment-header {
	color: #999;
}

.site-main #buddypress #activity-stream p {
	margin-top: 0;
	padding-top: 4px;
}

.site-main #buddypress div.activity-meta a {
	padding: 5px 10px;
	display: inline-block;
	margin-bottom: 8px;
	line-height: 1;
	text-transform: none;
}

.site-main #buddypress div.activity-meta a.acomment-reply:before, .site-main #buddypress div.activity-meta a.fav:before, .site-main #buddypress div.activity-meta a.unfav:before, .site-main #buddypress div.activity-meta a.delete-activity:before {
	content: "\f086";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 0;
}

.site-main #buddypress div.activity-meta a.fav:before {
	content: "\f004";
}

.site-main #buddypress div.activity-meta a.unfav:before {
	content: "\f08a";
}

.site-main #buddypress div.activity-meta a.delete-activity:before {
	content: "\f014";
}

.site-main #buddypress div.activity-comments ul li {
	padding: 20px 0 0;
}

.site-main #buddypress div.activity-comments div.acomment-meta, .site-main #buddypress div.activity-comments div.acomment-content {
	font-size: 100%;
}

.site-main #buddypress div.activity-comments div.acomment-avatar img {
	height: 30px;
	width: 30px;
}

.site-main #buddypress .activity-list li.load-more, .site-main #buddypress .activity-list li.load-newest {
	background: #111111;
	margin: 30px auto;
	padding: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: none;
	transition: all .15s;
	width: 50%;
}

.site-main #buddypress .activity-list li.load-more:hover, .site-main #buddypress .activity-list li.load-newest:hover {
	color: #ffffff;
	background: #3f51b5;
}

.site-main #buddypress .activity-list li.load-more a, .site-main #buddypress .activity-list li.load-newest a {
	color: inherit;
	display: block;
	text-decoration: none;
	font-weight: 700;
	line-height: 36px;
	padding: 0 15px;
	font-size: 14px;
	font-size: 1.4rem;
}

.site-main #buddypress .activity-list li.load-more.loading a:after, .site-main #buddypress .activity-list li.load-newest.loading a:after {
	content: "...";
}

/*single activity*/
body.activity-permalink #buddypress div.activity-comments {
	border-top: solid 3px #ececec;
	margin-top: 20px;
	padding-top: 20px;
}

body.activity-permalink #buddypress div.activity-comments > ul {
	padding: 0 10px 0 0px;
}

body.activity-permalink #buddypress div.activity-comments ul li {
	padding: 20px 0 0 0;
}

body.activity-permalink #buddypress div.activity-comments ul li > ul {
	margin-left: 60px;
}

body.activity-permalink #buddypress .activity-list li.mini .activity-avatar img {
	width: 150px;
	height: auto;
}

body.activity-permalink #buddypress div.activity-comments div.acomment-avatar img {
	height: 50px;
	width: 50px;
	margin-right: 20px;
}

body.activity-permalink #buddypress div.activity-comments div.acomment-content {
	font-size: 100%;
	margin-left: 70px;
}

body.activity-permalink #buddypress .acomment-options {
	margin-left: 70px;
}

/*comment*/
.site-main #buddypress div.activity-comments form div.ac-reply-content {
	color: #888;
	margin-left: 65px;
}

.site-main #buddypress div.activity-comments form .ac-textarea {
	border: 1px solid #ececec;
	padding: 5px 5px 0;
}

.site-main #buddypress div.profile h4 {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 20px;
}

.site-main #buddypress table.notifications, .site-main #buddypress table.notifications-settings, .site-main #buddypress table.profile-settings, .site-main #buddypress table.profile-fields, .site-main #buddypress table.wp-profile-fields, .site-main #buddypress table.messages-notices, .site-main #buddypress table.forum {
	margin-bottom: 30px;
}

.site-main #buddypress table.notifications tr td.label,
.site-main #buddypress table.notifications-settings tr td.label,
.site-main #buddypress table.profile-fields tr td.label,
.site-main #buddypress table.wp-profile-fields tr td.label,
.site-main #buddypress table.messages-notices tr td.label,
.site-main #buddypress table.forum tr td.label {
	display: table-cell;
	color: inherit;
	text-align: left;
	font-weight: normal;
	font-size: inherit;
	text-transform: uppercase;
	border-radius: 0;
	background: transparent;
}

.site-main #buddypress table.notifications thead tr,
.site-main #buddypress table.notifications-settings thead tr,
.site-main #buddypress table.profile-settings thead tr,
.site-main #buddypress table.profile-fields thead tr,
.site-main #buddypress table.wp-profile-fields thead tr,
.site-main #buddypress table.messages-notices thead tr,
.site-main #buddypress table.forum thead tr,
.site-main #buddypress table.notifications tr.alt td,
.site-main #buddypress table.notifications-settings tr.alt td,
.site-main #buddypress table.profile-settings tr.alt td,
.site-main #buddypress table.profile-fields tr.alt td,
.site-main #buddypress table.wp-profile-fields tr.alt td,
.site-main #buddypress table.messages-notices tr.alt td,
.site-main #buddypress table.forum tr.alt td {
	background: transparent;
}

.site-main #buddypress input[type="submit"].pending, .site-main #buddypress input[type="button"].pending, .site-main #buddypress input[type="reset"].pending, .site-main #buddypress input[type="submit"].disabled, .site-main #buddypress input[type="button"].disabled, .site-main #buddypress input[type="reset"].disabled, .site-main #buddypress input[type="submit"][disabled=disabled] {
	border-color: inherit;
	color: #fff;
}

.site-main #buddypress button.pending, .site-main #buddypress button.disabled {
	border-color: inherit;
	color: #fff;
}

.site-main #buddypress div.pending a,
.site-main #buddypress a.disabled {
	border-color: inherit;
	color: #fff;
}

.site-main #buddypress table.profile-fields {
	margin-bottom: 30px;
	border-top: 1px dashed #ececec;
}

.site-main #buddypress table.profile-fields:last-child {
	margin-bottom: 30px;
	border-top: 1px dashed #ececec;
}

/*profile*/
/*group*/
@media screen and (min-width: 768px) {
	#buddypress div#item-header div#item-header-content {
		float: none;
	}
}

@media screen and (max-width: 480px) {
	#buddypress div.dir-search {
		float: none;
	}

	#buddypress div.dir-search input[type="text"] {
		margin-bottom: 0;
		width: 100%;
	}
}

.groups #item-header-content span.highlight {
	background-color: #eaeaea;
	padding: 10px 10px;
	font-size: 100%;
	line-height: 1;
	color: #999;
	display: inline-block;
	margin-bottom: 10px;
}

.groups #item-header-content span.activity {
	display: block;
}

#buddypress div#invite-list {
	background-color: transparent;
	padding: 0;
	height: auto;
	max-height: 400px;
}

#buddypress form.standard-form .left-menu #invite-list ul {
	padding: 0;
}

#buddypress form.standard-form .left-menu #invite-list ul li {
	margin: 0 0 5px 1%;
}

#buddypress .invite div.submit input {
	float: right;
	margin-right: 0;
}

#buddypress #members-dir-list ul.item-list li {
	padding: 10px 0 19px;
}

#buddypress div.profile h2 {
	margin-bottom: 10px;
}

#buddypress .field-visibility-settings-toggle {
	margin-top: 15px;
}

#buddypress .standard-form button {
	line-height: 1.3;
	padding: 3px 10px;
}

#buddypress .standard-form select,
#buddypress .standard-form input[type=password] {
	padding: 2px 6px;
}

#buddypress input[type=submit] {
	display: inline-block;
	width: auto;
}

.activity-update-form #whats-new-content {
	padding: 0;
}

.buddypress-wrap .subnav-filters .subnav-search {
	display: block;
	overflow: hidden;
	width: calc(100% - 200px);
	float: left;
	position: relative;
}

.buddypress-wrap .subnav-filters .subnav-search form {
	float: none;
	display: block;
	width: 100%;
	border: none;
}

.site-main #buddypress .dir-search input[type=search] {
	float: none;
	width: 100%;
	max-width: 100%;
	display: block;
}

.buddypress-wrap form.bp-dir-search-form button[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
}

.buddypress-wrap form.bp-dir-search-form button[type=submit] span.dashicons-search {
	line-height: 40px;
}

.buddypress-wrap .subnav-filters .feed {
	position: absolute;
	top: 0;
	left: 0;
}

.activity-list .activity-item div.item-avatar {
	width: auto;
	margin: 0;
}

.activity-list li.bbp_topic_create .activity-content .activity-inner, .activity-list li.bbp_reply_create .activity-content .activity-inner {
	margin: 20px 0 20px 0;
	font-size: 16px;
}

.site-main #buddypress .activity-list li.load-more {
	margin-bottom: 15px;
}

.buddypress-wrap .select-wrap span.select-arrow {
	font-size: 13px;
}

.buddypress-wrap .bp-feedback {
	padding: 15px;
}

.site-main #buddypress .bp-feedback button {
	background-color: transparent !important;
	color: inherit;
	padding: 0;
}

.buddypress-wrap ul.subnav {
	margin-bottom: 0;
}

#buddypress .notifications-search.bp-search {
	padding-left: 0;
}

.notifications .buddypress-wrap .subnav-filters .subnav-search {
	max-width: 60%;
}

.penci_dark_layout .site-main #buddypress div.item-list-tabs:not(#subnav) {
	background: transparent;
	border: 1px solid transparent;
}

@media screen and (max-width: 46.8em) {
	.site-main #buddypress .activity-list .activity-content {
		margin-left: 0;
	}
}

@media screen and (max-width: 32em) {
	.buddypress-wrap .subnav-filters .subnav-search {
		width: 100%;
		float: none;
	}

	#buddypress div.bp-search, #buddypress div.dir-search {
		margin-bottom: 0;
	}

	.activity-list .activity-item .activity-header {
		width: 100%;
	}

	#buddypress ul.item-list, #buddypress .profile[role=main] {
		border: 0;
		padding: 0;
	}
}

/* = End buddy */