.forum-archive {
	.penci-content-post {
		padding: 20px;
		background: $color__white;
	}

	.penci-entry-title {
		@include font-size( 3 );
		line-height: 1.2;
		color: #111111;
		margin-top: 9px;
		margin-bottom: 6px;

		&.penci-title-center{
			text-align: center;
		}

		&.penci-title-right{
			text-align: right;
		}
	}
}


#bbpress-forums {
	@include font-size( 1.5 );
	ul.bbp-forums {
		border: none;
		.forum-titles li:before {
			display: none;
		}
	}
	ul.bbp-lead-topic,
	ul.bbp-topics,
	ul.bbp-forums,
	ul.bbp-replies,
	ul.bbp-search-results {
		border: none;
	}
	li {
		&.bbp-header,
		&.bbp-footer,
		ul.forum {
			background: none;
		}
		&.bbp-header {
			background: none #222;
			color: #fff;
			border-top: 0;
			padding: 7px 15px;

			ul.forum-titles li,
			.bbp-reply-author,
			.bbp-reply-content {
				font-family: $font__muktavaani;
				font-size: 15px;
			}
		}
		&.bbp-body {
			margin-top: 20px;

			div.odd,
			ul.odd {
				background: none;
			}
			ul.forum,
			ul.topic {
				border-top-color: $color__border;
				padding: 20px 0 20px;
				background:transparent !important;
			}
			ul.forum li.bbp-forum-info a,
			ul.topic li.bbp-topic-title a {
				font-size: 13px;
				color: $color__dark;
				font-family: $font__muktavaani;

				&.bbp-forum-title {
					font-size: 16px;
					font-weight: 700;
				}

				&:hover {
					text-decoration: none;
					color: $color__blue;
				}
			}



			.bbp-forums-list li {
				color: #fff;
				display: block;
			}


			ul.forum li.bbp-forum-info .bbp-forum-content,
			ul.topic p.bbp-topic-meta {
				font-style: italic;
				color: #c3c3c3;
				line-height: 1.5;
				a {
					font-size: 12px;
					color: $color__blue;
					font-weight: 400;
					font-family: $font__main;
				}
			}
			ul.forum li.bbp-forum-topic-count,
			ul.forum li.bbp-forum-reply-count,
			ul.forum li.bbp-forum-freshness,
			ul.forum li.bbp-forum-freshness a,
			ul.topic li.bbp-forum-topic-count,
			ul.topic li.bbp-topic-voice-count,
			ul.topic li.bbp-forum-reply-count,
			ul.topic li.bbp-topic-freshness > a,
			ul.topic li.bbp-topic-freshness,
			ul.topic li.bbp-topic-reply-count {
				font-size: 11px;
				color: $color__dark;
				font-family: $font__main;
			}

			ul.forum li.bbp-forum-freshness p.bbp-topic-meta,
			ul.topic li.bbp-topic-freshness p.bbp-topic-meta {
				margin: -6px 0 0;
				a {
					font-weight: 500;
					font-size: 12px;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		&.bbp-footer {
			border-top-color: $color__border;
		}
		&:before {
			display: none;
		}
		&.bbp-forum-info,
		&.bbp-topic-title {
			width: 45%;
		}
		&.bbp-forum-topic-count,
		&.bbp-topic-voice-count,
		&.bbp-forum-reply-count,
		&.bbp-topic-reply-count {
			width: 15%;
		}
		&.bbp-forum-freshness,
		&.bbp-topic-freshness {
			float: right;
			text-align: right;
		}

	}

	.forum-titles {
		li.bbp-forum-freshness,
		li.bbp-topic-freshness {
			padding-right: 0;
		}
	}

	div.bbp-search-form {
		position: relative;
		float: none;
		width: 100%;
		padding-bottom: 21px;
	}
	#bbp-search-form {
		position: relative;

		#bbp_search {
			width: 95%;
			height: 36px;
		}

		.button {
			position: absolute;
			top: 0;
			right: 0
		}
	}

	.bbp-breadcrumb {
		p {
			font-family: $font__roboto;
			@include font-size( 1.2 );
			line-height: 13px;
			color: #888888;
			margin-bottom: 0;
			margin-top: 0;
			margin-left: 2px;
		}
		a, .bbp-breadcrumb-current {
			font-size: 12px;
			color: #888888;
		}
		a:hover, .bbp-breadcrumb-current:hover {
			color: $color__blue;
		}
		.bbp-breadcrumb-sep {
			font-size: 12px;
			margin: 0 5px 0 5px;
		}
	}

	.subscription-toggle {
		display:none;
	}

	div.bbp-template-notice.info {
	    border: 1px solid $color__border;
	    background-color: transparent;
	    border-radius: 0;
	    padding-top: 2px;

	    img {
		    width: 20px!important;
		    display: inline;
		    vertical-align: middle;
		    margin-bottom: 0!important;
		    margin-left: 5px;
		    margin-right: 5px;
		}
	}

	.bbp-pagination-count {
	    margin-top: 2px;
	    color: $color__dark;
	   	font-weight: normal;
	   	font-size: 13px;
	}

	.bbp-topic-started-by,
	.bbp-topic-started-in {
		color: #c3c3c3;
    	font-size: 12px;

    	a{
    		font-size: 12px;
    	}

		img {
		    position: absolute;
		    top: 2px;
		    left: 0;
		    margin: 0;
		}
	}

	 p.bbp-topic-meta span {
	    white-space: initial;
	}

	li.bbp-topic-title .bbp-topic-permalink,
	li.bbp-topic-title .bbp-topic-meta {
	    padding-left: 50px;
	}

	div.bbp-topic-tags {
	    float: left;
		clear: both;
	}
}

#bbpress-forums .bbp-topic-freshness-author {
	margin-top: 8px;
	display: inline-block;
}
#bbpress-forums .bbp-forum-freshness a,
#bbpress-forums .bbp-topic-freshness a {
	color: $color__dark;
	font-size: 12px;
	font-weight: 600;

	&:hover {
		color: $color__blue;
	}
}

#bbpress-forums .bbp-body .bbp-forum-freshness img,
#bbpress-forums .bbp-body .bbp-topic-freshness img {
	position: absolute;
	right: 0;
	top: 3px;
	margin: 0;
}
#bbpress-forums li.bbp-forum-topic-count,
#bbpress-forums li.bbp-forum-reply-count,
#bbpress-forums li.bbp-topic-voice-count,
#bbpress-forums li.bbp-topic-reply-count {
	width: 9%;
}
#bbpress-forums .bbp-forum-freshness,
#bbpress-forums .bbp-topic-freshness {
	width: 33%;
	padding-right: 50px;
	padding-left: 10px;
}

#bbpress-forums li.bbp-body .bbp-forum-freshness>a,
#bbpress-forums li.bbp-body .bbp-topic-freshness>a {
	font-size: 10px;
	color: #c3c3c3;
	font-weight: normal;
	line-height: 12px;
	display: inline-block;
}

#bbpress-forums .bbp-body .bbp-forum-freshness p,
#bbpress-forums .bbp-body .bbp-topic-freshness p {
	margin: 0;
	line-height: 17px;
}
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	border: none;
	width: 40px;
}

div.bbp-submit-wrapper {
	float: left;
}

#bbpress-forums fieldset.bbp-form {
	border: 0;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

#bbpress-forums fieldset.bbp-form legend {
	@include font-size( 2.4 );
	padding:0;
	margin-bottom: 20px;
	color: $color__dark;
}
.site-main .bbp-pagination-links a,
.site-main .bbp-pagination-links span.current {
	padding: 0px 7px;
	border-color: $color__border;
}

.site-main .bbp-pagination-links a:hover,
.site-main .bbp-pagination-links span.current {
	background: #eee;
}

#favorite-toggle,
#subscription-toggle{
	color: #777;

	a{
		color:#fff;
		opacity: 1;
	}
}

.site-main .bbp-pagination-links a:hover,
.site-main .bbp-pagination-links span.current {
	text-decoration: none;
	color: $color__blue;
}

.penci_dark_layout{
	#bbpress-forums div.even, #bbpress-forums ul.even,
	#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header{
		background:transparent;
	}

	div.bbp-template-notice.error,
	div.bbp-template-notice.warning{
		background:transparent;
	}

	#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content{
		border:1px solid transparent;
	}
}

.penci_dis_padding_bw{
	&.forum-archive .penci-entry-title{
		margin-top: 0;

	}

	&.forum-archive .penci-content-post {
		padding: 0;
	}
}

.widget_display_stats dl:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
}

.bp-login-widget-register-link {
	margin-top: 10px;
	display: inline-block;
}

@media (max-width: 768px){
	#bbpress-forums .bbp-body .bbp-forum-freshness img,
	#bbpress-forums .bbp-body .bbp-topic-freshness img {
		display: none;
	}
	#bbpress-forums .bbp-forum-freshness,
	#bbpress-forums .bbp-topic-freshness {
		padding-right: 0;
	}

}


@media (max-width: 600px) {

	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}

	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width:20%
	}

	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width:58%
	}

	#bbpress-forums li.bbp-header .bbp-forum-topic-count,
	#bbpress-forums li.bbp-header .bbp-forum-reply-count,
	#bbpress-forums li.bbp-header .bbp-forum-freshness,
	#bbpress-forums li.bbp-footer {
		font-size:10px!important
	}

	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align:center;
		text-transform: uppercase;
		font-size: 15px!important;
		font-weight: 600
	}

	div.bbp-search-form input,div.bbp-search-form button {
		padding:0 15px
	}

	#bbpress-forums .bbp-body ul {
		padding-bottom:5px!important
	}

	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin:0;
	}
}

@media only screen and (max-width: 480px) {
	#bbpress-forums .bbp-body div.bbp-reply-content {
		margin-left: 0;
		margin-right: 0;
	}
}
