.penci-owl-featured-area.style-10 {

	.penci-slider__medium-item {
		&.penci-item-2 {
			border-right: 2px solid transparent;
		}

		&.penci-item-3 {
			border-left: 2px solid transparent;
		}

		.penci-slider__text {
			padding: 15px 15px 10px;
		}
	}

	.penci-item-mag {
		float: left;
		display: inline-block;
		width: 50%;
		position: relative;



		&.penci-slider__big-item {
			width: 100%;
			border-bottom: 4px solid transparent;

			.penci-image-holder:before {
				padding-top: 50%;
			}

			.penci-slider__meta{
				margin-top: 3px;
			}
		}

		&.penci-slider__medium-item {
			h3 {
				@include font-size(1.8);
				line-height: 1.33;
			}
		}
	}
}

.penci-vc_two-sidebar,
.penci-container-width-1080.penci-vc_sidebar-right,
.penci-container-width-1080.penci-vc_sidebar-left,
.penci-container-width-1400.penci-vc_sidebar-left,
.penci-container-width-1400.penci-vc_sidebar-right,
.penci-content-main.penci-col-6 {
	.penci-owl-featured-area.style-10 .penci-item-mag.penci-slider__medium-item {
		h3{
			@include font-size( 1.4 );
		}
		.penci-slider__meta {
			display: none;
		}
	}
}

@media screen and ( max-width: 1200px ) and ( min-width: 960px ) {
	.penci-owl-featured-area.style-10 {
		.penci-slider__cat {
			display: none;
		}
	}

	.penci-container-width-1400.penci-vc_sidebar-left,
	.penci-container-width-1400.penci-vc_sidebar-right {
		.penci-owl-featured-area.style-10 {

			.penci-slider__meta {
				display: none;
			}

			.penci-slider__text {
				padding: 0 10px 10px;
			}

			.penci-slider__medium-item {
				h3 a{
					font-size: 14px;
					line-height: 1.3;
					display: block;
				}
			}

			.penci-slider__big-item {
				h3 a{
					font-size: 18px;
					line-height: 1.3;
					display: block;
				}
			}

		}
	}
}

@media screen and ( max-width: 960px ) {
	.penci-owl-featured-area.style-10 {
		.icon-post-format {
			display: none;
		}

		h3,
		.penci-slider__cat,
		.penci-slider__meta {
			text-align: center;
		}

		.penci-slider__big-item h3{
			font-size:  24px;
		}

		.penci-slider__medium-item {
			.penci-slider__cat,
			.penci-slider__meta {
				display: none;
			}
		}

	}


	.penci-container-width-1400.penci-vc_sidebar-left,
	.penci-container-width-1400.penci-vc_sidebar-right {
		.penci-owl-featured-area.style-10 {
			.penci-item-mag.penci-slider__medium-item h3 {
				font-size: 18px;
			}

			.penci-item-mag.penci-slider__big-item h3{
				font-size:  24px;
			}

		}
	}
}

@media screen and ( max-width: 768px ) {
	.penci-owl-featured-area.style-10 {
		.penci-slider__cat {
			display:  none;
		}

		.penci-slider__big-item h3{
			font-size:  20px;
		}
		.penci-item-mag.penci-slider__medium-item h3{
			font-size:  16px;
		}
	}

	.penci-container-width-1400.penci-vc_sidebar-right {
		.penci-owl-featured-area.style-10 {
			.penci-item-mag.penci-slider__big-item h3{
				font-size:  20px;
			}
			.penci-item-mag.penci-slider__medium-item h3{
				font-size:  16px;
			}

		}
	}
}

@media screen and ( max-width: 480px ) {
	.penci-owl-featured-area.style-10 {
		.penci-slider__big-item {
			.entry-title{
				font-size:  18px;
			}

			.penci-slider__meta {
				display: none;
			}
		}

		.penci-item-mag.penci-slider__big-item .penci-image-holder:before {
			padding-top: 66.6667%;
		}

		.penci-item-mag.penci-slider__medium-item h3{
			font-size:  14px;
		}
	}

	.penci-container-width-1400.penci-vc_sidebar-right {
		.penci-owl-featured-area.style-10 {
			.penci-item-mag.penci-slider__big-item h3{
				font-size:  18px;
			}
			.penci-item-mag.penci-slider__medium-item h3{
				font-size:  14px;
			}

		}
	}
}