.penci_media_object {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;

  .penci_mobj__img {
   margin-right: 20px;
   position: relative;
  }


  .penci_mobj__body {
    flex: 1;
  }

  &.penci_mobj-image-right {
    .penci_mobj__img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin-right: 0;
      margin-left: 20px;
    }
  }
}