table {

	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 22px;
}
td {
	padding: 12px;
	border: 1px solid $color__border;
}
th {
	padding: 12px;
	font-weight: 700;
	font-size: 14px;
	text-align: left;
	border: 1px solid $color__border;

}
