.wp-caption,
.penci-wp-caption{
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
}

.wp-caption-text,
.penci-wp-caption-text {
	text-align: center;
	line-height: 1.4;
}
