$color__background-body: #eeeeee;
$color__background-screen: #f1f1f1;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$color__text-screen: #21759b;
$color__text-input: #313131;;
$color__link:  #000000;;
$color__text-main: #666666;
$color__blue :#3f51b5;
$color__white : #ffffff;
$color__dark : #111111;
$color__black : #000000;
$color__meta: #888888;

$color__border: #ececec;
$color__border-button: #ececec;
$color__border-button-hover: #ccc;
$color__border-button-focus: #ccc;